---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content > h3, .page__content > h6 {
    margin-top: 0;
}

.page__title {
    margin-bottom: 12px;
}

.page__lead {
    margin-top: 0px;
    font-size: 0.75em;
    color: #eee;
    display: inline-block;
    max-width: 50% !important;
}